# Application
APP_NAME="Gopedia Engine"
DEBUG=True
SECRET_KEY="dev_secret_key_change_in_prod"

# Database (Docker Default)
# Driver: postgresql+asyncpg
DATABASE_URL="postgresql+asyncpg://gopedia:gopedia_pass@localhost:5432/gopedia_db"

# Plugin Registry (Mock for now)
PLUGIN_REGISTRY="{}"
